<!-- Archive list for pre-loading -->
<div ng-if="shouldShowCase()" class="case ">

    <div class="case__container"  >
        <div class="case__container__content" >

            <div>
                <h3>Liste des archives débloquées</h3>
                <ul>
                    <li ng-repeat="archive in case.archives | filter:shouldShowUnlocked" ng-click="toggleStar(archive.id)">
                        [[ archive.title | uppercase ]] / URL : [[ archive.url ]] / ID : [[ archive.id ]]
                    </li>
                </ul>
            </div>

            <div>
                <h3>Liste des archives</h3>
                <ul>

                    <li ng-repeat="archive in case.archives" ng-class="{ 'case__TEST': shouldShowUnlocked(archive) }" ng-click="toggleStar(archive.id)">
                        [[ archive.title | uppercase ]] / URL : [[ archive.url ]] / ID : [[ archive.id ]]
                    </li>
                </ul>
            </div>

            <div>
                <h3>Liste des archives favorites</h3>
                <ul>
                    <li ng-repeat="archive in case.archives | filter:shouldShowStarred" ng-click="toggleStar(archive.id)">
                        [[ archive.title | uppercase ]] / URL : [[ archive.url ]] / ID : [[ archive.id ]]
                    </li>
                </ul>
            </div>

        </div><!-- end class="case__container__content" -->

        <div class="case__container__tabs">

            <div class="case__container__tabs__unlocked">Documents Dévérouillés</div>
            <div class="case__container__tabs__all">Tous les documents</div>
            <div class="case__container__tabs__starred">Documents Favoris</div>

        </div><!-- end class="case__container__tabs" -->

        <div class="case__container__my-case col-lg-7" ng-click="toggleCase()">
        </div><!-- end class="case__container__my-case" -->

    </div>
</div>

