<!-- Archive list for pre-loading -->
<div ng-if="shouldShowCase()" class="case ">

    <div class="case__bg" ng-click="toggleCase()"></div>

    <div class="case__container">

        <!-- MENU -->
        <div class="case__container__menu">
            <ul class="case__container__menu__tabs">

                <li class="col-lg-30 col-md-42 col-xs-70 col-lg-offset-60 col-md-offset-42 " ng-click="selectMenu('all')">
                    <div class="case__container__menu__tabs__all" ng-class="{ 'on': isSelected('all') }"></div>
                </li>
                <li class="col-lg-30 col-md-42  col-xs-70" ng-click="selectMenu('unlocked')">
                    <div class="case__container__menu__tabs__unlocked" ng-class="{ 'on': isSelected('unlocked') }"></div>
                </li>
                <li class="col-lg-30 col-md-42 col-xs-70" ng-click="selectMenu('starred')">
                    <div class="case__container__menu__tabs__starred" ng-class="{ 'on': isSelected('starred') }"></div>
                </li>

            </ul><!-- end class="case__container__tabs" -->

            <ul class="case__container__menu__my-case">
                <li  class="col-lg-30 col-md-42 col-xs-70 col-lg-offset-60 col-md-offset-42">
                    <div class="case__container__menu__my-case__previous" ng-click="navArchive('previous')" ng-show="shouldShowArchiveMenu()"></div>
                </li>

                <li  class="col-lg-30 col-md-42 col-xs-70" ng-click="toggleCase()">
                    <div class="case__container__menu__my-case__button" ng-class="{'back': shouldShowArchiveMenu() }">ma valise</div>
                </li>

                <li  class="col-lg-30 col-md-42 col-xs-70">
                    <div class="case__container__menu__my-case__next" ng-click="navArchive('next')" ng-show="shouldShowArchiveMenu()"></div>
                </li>
            </ul><!-- end class="case__container__my-case" -->

        </div><!-- end class="case__container__menu" -->

        <!-- CASE -->
        <div class="case__container__content" >

            <div class="case__container__content__box col-lg-30 col-md-42 col-xs-70" ng-repeat="archive in case.archives" ng-show="shouldShowBox(archive.id)">

                <div class="case__container__content__box__archive" ng-if="shouldShowBoxContent(archive.id)" ng-class="archiveClass(archive.id)" ng-style="{'background-image' : 'url([[ archive.url ]])' }">
                    <div class="case__container__content__box__archive__block" ng-class="archiveClass(archive.id)" ng-click="displayArchive(archive.id)">
                        <div class="case__container__content__box__archive__block__title" ng-class="archiveClass(archive.id)">[[ archive.title | uppercase ]]</div>
                        <div class="case__container__content__box__archive__block__cote" ng-class="archiveClass(archive.id)">COTE : [[ archive.cote ]]</div>
                        <div class="case__container__content__box__archive__block__url" ng-class="archiveClass(archive.id)"><a href="[[ archive.url ]]" alt="[[ archive.url ]]" target="_blank">PERMALIEN</a></div>
                        <div class="case__container__content__box__archive__block__excerpt" ng-class="archiveClass(archive.id)">[[ archive.description | excerpt:true:55 ]]</div>
                    </div>

                    <div class="case__container__content__box__archive__star" ng-class="archiveClass(archive.id)" ng-click="toggleStar(archive.id)"></div>

                </div>

            </div>

        </div><!-- end class="case__container__content" -->

        <!-- ARCHIVE -->
        <div class="case__container__archive " ng-repeat="arch in getArchs() " ng-show="shouldShowArchive(arch.id)">

            <div class="case__container__archive__all-content">
                <div class="case__container__archive__left-content col-md-105 col-xs-210">

                    <div class="case__container__archive__left-content__img" ng-style="{'background-image' : 'url([[ arch.url ]])' }">
                    </div>

                    <div class="case__container__archive__left-content__button">
                        <div class="case__container__archive__left-content__button__unlocked" ng-class="archiveClass(arch.id)" ng-click="unlockAlert()"></div>
                        <div class="case__container__archive__left-content__button__starred " ng-class="archiveClass(arch.id)" ng-click="toggleStar(arch.id)"></div>
                        <div class="case__container__archive__left-content__button__previous"></div>
                        <div class="case__container__archive__left-content__button__next"></div>
                    </div>

                </div>

                <div class="case__container__archive__right-content col-xs-105">

                    <div class="case__container__archive__right-content__button">
                        <div class="case__container__archive__right-content__button__facebook" ng-click="socialAlert()"></div>
                        <div class="case__container__archive__right-content__button__twitter" ng-click="socialAlert()"></div>
                    <!--<textarea class="case__container__archive__left-content__button__comment"></textarea>-->
                    </div>

                    <div class="case__container__archive__right-content__gradient">
                        <div class="case__container__archive__right-content__gradient--top"></div>
                        <div class="case__container__archive__right-content__gradient--bottom"></div>
                    </div>

                    <div class="case__container__archive__right-content__description">

                        <div class="case__container__archive__right-content__description__title">[[ arch.title | uppercase ]]</div>
                        <div class="case__container__archive__right-content__description__cote">COTE : [[ arch.cote ]]</div>
                        <div class="case__container__archive__right-content__description__permalien"><a href="[[ arch.url ]]" target="_blank">PERMALIEN</a></div>
                        <div class="case__container__archive__right-content__description__text">[[ arch.description ]]</div>

                    </div>

                    <div class="case__container__archive__right-content__thumbs">
                        <!-- TODO : Find a solution for a lot a images in one archive -->
                        <div class="case__container__archive__right-content__thumbs__box">
                            <div class="case__container__archive__right-content__thumbs__box__thumb" ng-style="{'background-image' : 'url([[ arch.url ]])' }"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="case__container__archive__close" ng-click="toggleArchive()"></div>

        </div><!-- end class="case__container__archive" -->


    </div><!-- end class="case__container" -->
</div><!-- end class="case" -->