<!-- Affiche le chapitre souhaité avec la directive ng-if de la fonction shouldShowChapter()  -->
<!-- Le ng-class bascule entre "chapter--starting et chapter--loading en fonction du isReady  -->
<div class="chapter chapter-entrance-animation" ng-if="shouldShowChapter()" ng-class="chapterClasses()">

    <!-- Loader, disparait si user.isReady = true -->
    <div class="chapter__spinner" ng-hide="user.isReady">
        <p class="chapter__spinner__label">Chargement en cours...</p>
    </div>

    <preload images="getBackgrounds()" object="user" attr="isReady" />

    <!-- Introduction du chapitre, affiché avec ng-show et 2 conditions true => isStartingChapters() && !isGameOver -->
    <div class="chapter__intro" ng-show="user.isStartingChapter() && !user.isGameOver">
        <div class="chapter__intro__id">
            <span ng-if="chapter.id === '1'">Introduction</span>
            <span ng-if="chapter.id !== '1'">Chapitre [[chapter.id]]/3</span>
        </div>
        <h2 class="chapter__intro__title">[[chapter.title]]</h2>
    </div>

    <!-- Numéro + Titre + Progression du chap sauf si isStartingChapter ou isGameOver -->
    <div class="chapter__track" ng-hide="user.isStartingChapter() || user.isGameOver">
        <div class="chapter__track__logo"></div>
        <!-- Le numéro du chapitre -->
        <div class="chapter__track__id">
            <span>Chapitre <b>[[chapter.id]]<span>/3</span></b></span>
        </div>
        <!-- Le chapitre : les bullets -->
        <div class="chapter__track__bullets">
            <i class="chapter__track__bullets__bullet" ng-repeat="i in [] | range: 3" ng-class="{ active: i*2 <= chapter.id }"></i>
        </div>
        <div class="chapter__track__point">
            <span>[[ user.indicators.point | number:0 ]] pts</span>
        </div>
        <div class="chapter__track__case">ma valise</div>
    </div>

    <!-- Les barres d'indication version ipad-->
    <div class="chapter__cmd" ng-class="{ 'chapter__cmd--touch-visible': cmdVisible }" ng-hide="user.isStartingChapter() || user.isGameOver">
        <ul class="list-unstyled">
            <li class="chapter__cmd__indicator chapter__cmd__indicator--luck">
                <a class="chapter__cmd__indicator__help">
                    ?
                    <span class="chapter__cmd__indicator__help__definition">
                        <span class="chapter__cmd__indicator__help__definition__abbr">
                            L'indicateur de chance
                        </span>
                        <br />
                        <span class="chapter__cmd__indicator__help__definition__warning">
                            Un coefficient qui aide lors des évenements aléatoires
                        </span>
                    </span>
                </a>
                <span class="chapter__cmd__indicator__label">Chance</span>
                <span class="chapter__cmd__indicator__value">[[user.indicators.luck | number:0]]%</span>
                <span class="chapter__cmd__indicator__progress progress">
                    <span class="progress-bar" ng-style="{ width: user.indicators.luck + '%' }">
                    </span>
                </span>
            </li>
            <li class="chapter__cmd__indicator chapter__cmd__indicator--health">
                <a class="chapter__cmd__indicator__help">
                    ?
                    <span class="chapter__cmd__indicator__help__definition">
                        <span class="chapter__cmd__indicator__help__definition__abbr">
                            L'indicateur de santé
                        </span>
                        <br />
                        <span class="chapter__cmd__indicator__help__definition__warning">
                            Warning ???
                        </span>
                    </span>
                </a>
                <span class="chapter__cmd__indicator__label">Santé</span>

                <span class="chapter__cmd__indicator__value">[[user.indicators.health | number:0]]%</span>
                <span class="chapter__cmd__indicator__progress progress">
                    <span class="progress-bar" ng-style="{ width: user.indicators.health + '%' }">
                    </span>
                </span>
            </li>
            <li class="chapter__cmd__indicator chapter__cmd__indicator--mood">
                <a class="chapter__cmd__indicator__help">
                    ?
                    <span class="chapter__cmd__indicator__help__definition">
                        <span class="chapter__cmd__indicator__help__definition__abbr">
                            Votre moral
                        </span>
                        <br />
                        <span class="chapter__cmd__indicator__help__definition__warning">
                            Warning ???
                        </span>
                    </span>
                </a>
                <span class="chapter__cmd__indicator__label">Moral</span>
                <span class="chapter__cmd__indicator__value">[[user.indicators.mood | number:0]]%</span>
                <span class="chapter__cmd__indicator__progress progress">
                    <span class="progress-bar" ng-style="{ width: user.indicators.mood + '%' }">
                    </span>
                </span>
            </li>
        </ul>
        <button class="chapter__cmd__toggler" ng-click="cmdVisible = !cmdVisible">
            <span class="fa fa-dashboard"></span>
        </button>
    </div>

    <!-- La boucle des scenes -->
    <scene ng-repeat="scene in chapter.scenes" src="scene" chapter="chapter"></scene>
</div>

