<!-- Template du bootstrap -->

<div class="modal-body"
     ng-swipe-left="Lightbox.nextImage()"
     ng-swipe-right="Lightbox.prevImage()">

    <div class="lightbox__image">

        <!-- navigation -->
        <div class="lightbox__image__nav" ng-if="Lightbox.show_nav">
            <div class="lightbox__image__nav__previous button" ng-click="Lightbox.prevImage()"></div>
            <div class="lightbox__image__nav__next button" ng-click="Lightbox.nextImage()"></div>
        </div>

        <!-- image -->
        <img lightbox-src="[[ Lightbox.imageUrl ]]" alt="">

        <!-- caption -->
        <div class="lightbox__image__caption">
            <span class="lightbox__image__caption__cote">Cote : [[ Lightbox.imageCaption | uppercase ]]</span><br />
            <span class="lightbox__image__caption__url"><a href="[[ Lightbox.imageUrl ]]" target="_blank">[[ Lightbox.imageUrl ]]</a></span>
        </div>


    </div>
</div>
