<!-- Template du bootstrap -->

<div class="case "
     ng-swipe-left="Lightbox.nextImage()"
     ng-swipe-right="Lightbox.prevImage()">

    <div class="case__bg"></div>

    <div class="lightbox__image">

        <!-- image -->
        <img ng-elevate-zoom id="native" lightbox-src="[[ Lightbox.imageUrl ]]" ng-src="[[ Lightbox.imageUrl ]]" data-zoom-image="[[ Lightbox.imageUrl ]]" alt="">

        <!-- caption -->
        <div class="lightbox__image__caption">

            <!-- navigation -->
            <div class="lightbox__image__caption__nav" >
                <div class="lightbox__image__caption__nav__zoom button" ng-click="user.case.archive.zoom = !user.case.archive.zoom" ng-class="{ 'active': user.case.archive.zoom }"></div>

                <div class="lightbox__image__caption__nav__previous button" ng-click="Lightbox.prevImage()" ng-if="Lightbox.show_nav"></div>
                <div class="lightbox__image__caption__nav__next button" ng-click="Lightbox.nextImage()" ng-if="Lightbox.show_nav"></div>
            </div>

            <span class="lightbox__image__caption__cote">Cote : [[ Lightbox.imageCaption | uppercase ]]</span><br />
            <span class="lightbox__image__caption__url"><a href="[[ Lightbox.imageUrl ]]" target="_blank">[[ Lightbox.imageUrl ]]</a></span>
        </div>


    </div>
</div>
