<header class="nav" ng-controller="NavCtrl"  ng-class="{ 'nav--touch-visible': navVisible }">

    {# The the partners #}
    <ul class="nav__partners list-inline hidden-sm hidden-xs">
        <li>
            <a class="nav__partners__logo__first" href="http://www.ille-et-vilaine.fr/" target="_blank">
                <img src="/img/ui/logo_ille-et-villaine.png" alt="Ille & Villaine" />
            </a>
        </li>
    </ul>

    {# The fixed pages #}
    <ul class="nav__links list-inline">
        <li><a ng-href="?p=credits" class="nav__links__link" href="">crédits</a></li>
        <li><a ng-href="?p=a-propos" class="nav__links__link" href="">à propos</a></li>
        <li><a ng-href="?p=cgu" class="nav__links__link" href="">CGU</a></li>
    </ul>


    <ul class="nav__cmd list-inline">
        {# Save form #}
        <li class="nav__cmd__part" ng-show="shouldShowSaveButton()">
            <button class="nav__cmd__save btn btn-sm btn-default" ng-click="shouldShowSaveForm = !shouldShowSaveForm" ng-class="{ 'nav__cmd__save--on': shouldShowSaveForm && user.inGame  }">
                Sauvegarder
            </button>
        </li>

        {# Volume #}
        <li class="nav__cmd__part">
            <div class="nav__cmd__volume">
                <div class="nav__cmd__volume__state"  ng-class="{ 'nav__cmd__volume__state--off': !isVolumeOn() }" ng-click="toggleVolume()"></div>
                <div class="nav__cmd__volume__slider-holder">
                    <div slider ng-model="volume" step="1" start="0" end="100"></div>
                </div>
            </div>
        </li>
    </ul>

    <div class="nav__save" ng-class="{ 'nav__save--visible': shouldShowSaveForm && user.inGame  }">
        <form class="nav__save__form form-horizontal" ng-submit="save()" ng-class="{'nav__save__form--nosubmit':!shouldShowSubmitButton}">
            <input class="form-control" placeholder="email@exemple.org" ng-model="email" required type="email" class="form-control" />
            <button type="submit" class="nav__save__form__submit btn btn-default" ng-disabled="form.$invalid || !shouldShowSubmitButton" ng-class="{'nav__save__form__submit--nosubmit':!shouldShowSubmitButton}">OK</button>
            <p ng-hide="user.email != null" class="nav__save__form__indication">Pour retrouver votre partie en cours entrez votre adresse. Vous recevrez alors par mail un code d'accès privé.</p>
            <p ng-show="user.email != null" class="nav__save__form__indication">Merci ! Un e-mail vous a été envoyé.</p>
        </form>
    </div>


    <button class="nav__toggler" ng-click="navVisible = !navVisible" ng-class="{ hidden: !user.inGame }">
        <span class="fa fa-angle-up"></span>
    </button>
</header>