<header class="nav" ng-controller="NavCtrl"  ng-class="{ 'nav-visible': navVisible }">

    {# Partners logos #}
    <ul class="nav__partners list-inline hidden-sm hidden-xs">
        <li>
            <a class="nav__partners__logo__first" href="http://www.ille-et-vilaine.fr/" target="_blank">
                <img src="/img/ui/logo_ille-et-villaine.png" alt="Ille & Villaine" />
            </a>
        </li>
    </ul>

    {# Links #}
    <ul class="nav__links list-inline">
        <li><a ng-href="?p=credits" class="nav__links__link" href="">crédits</a></li>
        <li><a ng-href="?p=a-propos" class="nav__links__link" href="">à propos</a></li>
        <li><a ng-href="?p=cgu" class="nav__links__link" href="">CGU</a></li>
    </ul>


    {# Fullscreen button #}
    <div class="nav__cmd__last pull-right">
        <div class="nav__cmd__part">
            <div class="nav__cmd__fullscreen" ng-class="{ 'nav__cmd__fullscreen--exit': isFullscreen() }"  ng-click="toggleFullscreen()"></div>
        </div>
    </div>

    {# Volume slider #}
    <div class="nav__cmd pull-right">
        <div class="nav__cmd__part cmd__max__view">
            <div class="nav__cmd__volume ">
                <div class="nav__cmd__volume__state title" ng-class="{ 'nav__cmd__volume__state--off': !isVolumeOn() }"  ng-click="toggleVolume()">volume</div>
                <div class="nav__cmd__volume__slider-holder">
                    <div slider ng-model="volume" step="1" start="0" end="100"></div>
                </div>
            </div>
        </div>
        <div class="nav__cmd__part cmd__min__view">
                <div class="nav__cmd__volume__state__min" ng-class="{ 'nav__cmd__volume__state__min--off': !isVolumeOn() }"  ng-click="toggleVolume()"></div>
        </div>
    </div>

    {# Autoplay button #}
    <div class="nav__cmd pull-right">
        <div class="nav__cmd__part cmd__max__view">
            <div class="nav__cmd__autoplay">
                <div class="nav__cmd__autoplay__title title" ng-class=""  ng-click="">Navigation [[autoplay]]</div>
                <form class="nav__cmd__autoplay__form">
                    <toggle-switch ng-model="autoplay"></toggle-switch>
                </form>
            </div>
        </div>
        <div class="nav__cmd__part cmd__min__view">
            <div class="nav__cmd__autoplay__min" ng-click="toggleAutoplay()" ng-class="{ 'nav__cmd__autoplay__min--on': isAutoplayOn() }"></div>
        </div>
    </div>

    {# Save form #}
    <div class="nav__cmd pull-right">
        <div class="nav__cmd__part cmd__max__view">
            <div class="nav__cmd__save">
                <div class="nav__cmd__save__title title">sauvegarder</div>
                <form class="nav__cmd__save__form form-horizontal" ng-submit="save()">
                    <input class="form-control" placeholder="mail" ng-model="email" required type="email"/>
                    <button type="submit" class="nav__cmd__save__form__submit btn" ng-disabled="form.invalid" ng-class=""></button>
                </form>
            </div>
        </div>
        <div class="nav__cmd__part cmd__min__view">
            <div class="nav__cmd__save__min" ng-class="{ 'nav__cmd__save__min--on': shouldShowSaveForm}"></div>
        </div>
    </div>



{#    <ul class="nav__EX-cmd list-inline">
        &#123;&#35; C14 -> Save Form &#35;&#125;
&#123;&#35;        <li class="nav__cmd__part" ng-show="shouldShowSaveButton()">
            <div class="nav__cmd__save">sauvegarder</div>
            <input placeholder="email@exemple.org" ng-model="email" required type="email" class="form-control" />
            <button type="submit" class="nav__save__form__submit btn btn-default" ng-disabled="form.$invalid || !shouldShowSubmitButton" ng-class="{'nav__save__form__submit--nosubmit':!shouldShowSubmitButton}">OK</button>
        </li>&#35;&#125;

        &#123;&#35; Save Btn &#35;&#125;
        <li class="nav__cmd__part" ng-show="shouldShowSaveButton()">welcomeUp
            <button class="nav__cmd__save btn btn-sm btn-default" ng-click="shouldShowSaveForm = !shouldShowSaveForm" ng-class="{ 'nav__cmd__save--on': shouldShowSaveForm && user.inGame  }">
                Sauvegarder
            </button>
        </li>


    </ul>#}

    {# The contact form #}
    <div class="nav__save" ng-class="{ 'nav__save--visible': shouldShowSaveForm && user.inGame  }">
        <form class="nav__save__form form-horizontal" ng-submit="save()" ng-class="{'nav__save__form--nosubmit':!shouldShowSubmitButton}">
            <input class="form-control" placeholder="email@exemple.org" ng-model="email" required type="email" class="form-control" />
            <button type="submit" class="nav__save__form__submit btn btn-default" ng-disabled="form.$invalid || !shouldShowSubmitButton" ng-class="{'nav__save__form__submit--nosubmit':!shouldShowSubmitButton}">OK</button>
            <p ng-hide="user.email != null" class="nav__save__form__indication">Pour retrouver votre partie en cours entrez votre adresse. Vous recevrez alors par mail un code d'accès privé.</p>
            <p ng-show="user.email != null" class="nav__save__form__indication">Merci ! Un e-mail vous a été envoyé.</p>
        </form>
    </div>


    <button ng-show="user.inGame" class="nav__toggler" ng-class="{ 'close-nav': navVisible }" ng-click="navVisible = !navVisible" ng-class="{ hidden: !user.inGame }">
    </button>
</header>