<preload images="getChapterCase()" object="user.case" attr="ready"></preload>

<div class="scene scene-entrance-animation" ng-if="shouldShowScene()">

    <!-- This is the main illustration -->
    <img  class="scene__bg" ng-src="[[ bg.src | media ]]" ng-repeat="bg in getSceneBgs() | filter:shouldDisplayBg" ng-class="{ 'scene__bg__archives': shouldShowArchive() }" ng-click="archive.openArchive()"/>

    <!-- Scene's sequence -->
    <div ng-repeat="sequence in scene.sequence"
         class="scene__sequence scene__sequence--[[sequence.type]]"
         ng-show="shouldShowSequence($index)">

        <!-- Dialog box, a the bottom of the screen -->
        <div ng-if="sequence.isDialog()">
            <div class="scene__sequence--[[sequence.type]]__body">
                <div class="scene__sequence--[[sequence.type]]__frame">
                    <p class="scene__sequence--[[sequence.type]]__frame__header [[sequence.header | lowercase]]" ng-if="sequence.header">
                        [[sequence.header]]
                    </p>
               <!--     <p class="scene__sequence--[[sequence.type]]__frame__character" ng-if="sequence.character">
                        [[sequence.character]]&nbsp;:
                    </p>-->
                    <div class="scene__sequence--[[sequence.type]]__frame__body" btf-markdown="sequence.body"></div>
                    <div class="scene__sequence--[[sequence.type]]__frame__head" ng-if="sequence.getAvatarSrc()">
                        <img ng-src="[[sequence.getAvatarSrc()]]" />
                    </div>
                </div>
                <a class="scene__sequence--dialog__next btn btn-default" ng-show="$parent.sequence.hasNext() || sequence.next_button" ng-click="goToNextSequence()">
                    <span class="sr-only">Continuer</span>
                </a>
            </div>
        </div>

        <!-- Player box, a the bottom of the screen -->
        <div ng-if="sequence.isPlayer()">

            <div class="scene__sequence--voixoff__body">
                <div class="scene__sequence--voixoff__frame">
                    <button ng-show="sound.voicetrack._loaded" class="btn btn-default scene__sequence--voixoff__frame__play" ng-click="sound.toggleVoicetrack()" ng-class="{ 'active': sound.voicetrack.isPlaying }">
                        <!--<span class="sr-only" ng-show="sound.voicetrack.isPlaying">Pause</span>-->
                        <!--<span class="sr-only" ng-hide="sound.voicetrack.isPlaying">Play</span>-->
                    </button>
                    <button ng-hide="sound.voicetrack._loaded" class="btn btn-default scene__sequence--voixoff__frame__play scene__sequence--voixoff__frame__load"></button>
                    <div class="scene__sequence--voixoff__frame__progression">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" ng-style="{ width: (sound.voicetrack._position/sound.voicetrack._duration)*100 + '%'}"></div>
                        </div>
                        <span class="scene__sequence--voixoff__frame__progression__timestamp">
                            [[sound.voicetrack._position|minutes]] / [[sound.voicetrack._duration|minutes]]
                        </span>
                    </div>
                    <div class="scene__sequence--voixoff__frame__head" ng-if="$parent.sequence.getAvatarSrc()">
                        <img ng-src="[[ sequence.getAvatarSrc() ]]" />
                    </div>
                </div>

                <a class="scene__sequence--dialog__next btn btn-default" ng-show="$parent.sequence.hasNext() || sequence.next_button" ng-click="goToNextSequence()">
                    <span class="sr-only">Continuer</span>
                </a>

            </div>

        </div>

        <!-- Choice box, at the middle of the screen -->
        <div ng-if="sequence.isChoice()">
            <p class="scene__sequence--choice__question" ng-bind-html="sequence.body">
            </p>
            <ul class="scene__sequence--choice__list" >
                <li ng-repeat="option in sequence.options">
                    <button class="btn btn-lg btn-default scene__sequence--choice__list__option"
                            ng-click="selectOption(option, $index)">
                        [[ option.header ]]
                    </button>
                </li>
            </ul>

        </div>

        <!-- Notification, a the top right corner of the screen -->
        <div ng-if="sequence.isNotification()" class="scene__sequence--notification__wrapper">
            <div class="scene__sequence--notification__wrapper__header" ng-if="sequence.header">[[sequence.header]]&nbsp;:</div>
            <div class="scene__sequence--notification__wrapper__body" btf-markdown="sequence.body"></div>
        </div>

        <!-- Video, in the middle of the screen -->
        <div ng-if="sequence.isVideo()">
            <div class="scene__sequence--video__body">
                <div cover min-width="1280" min-height="800">
                    <div class="scene__sequence--video__body__center">
                        <iframe frameborder="0" width="100%" height="100%" ng-src="[[sequence.getEmbedSrc()]]" allowfullscreen ng-if="shouldShowSequence($index)" wmode="Opaque"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- Video, in the middle of the screen -->
        <div ng-if="sequence.isVideoBg()">
            <div class="scene__sequence--video_background__body">

                <videogular vg-player-ready="video.onPlayerReady($API)" vg-auto-play="video.config.autoPlay" vg-complete="autoplay.nextSequence()" ng-if="shouldShowSequence($index)">
                    <vg-media vg-src="video.videoSources(sequence.name)" ></vg-media>

                    <vg-controls vg-autohide="sequence.autoHide" vg-autohide-time="sequence.autoHideTime">
                        <video-controls></video-controls>
                        <vg-scrub-bar></vg-scrub-bar>
                    </vg-controls>

                </videogular>
            </div>
        </div>

        <!-- Feedback, in the middle of the screen -->
        <div ng-if="sequence.isFeedback()">
            <div class="scene__sequence--feedback__body" btf-markdown="sequence.body"></div>
        </div>


    </div>
</div>