<div class="welcome" ng-controller="WelcomeCtrl" ng-show="shouldShowWelcome()">

    <div class="welcome__bg"></div>

    <!--<div ng-show="showHeadphone" class="welcome__guide welcome__guide--headphone"></div>-->
    <!--<div ng-show="showControl" class="welcome__guide welcome__guide--control"></div>-->

    <div class="welcome__wrapper" ng-class="{ 'wrapper-up': wrapperUp }">
        <div ng-show="isNewUser()">
            <div class="welcome__intro">
                <p>
                    Bienvenue sur la version de démonstration de Classe 1914, un webdocumentaire
                    ludique pour découvrir la Première Guerre mondiale en Ille-et-Vilaine.
                </p>

                <p>
                    ATTENTION, vous visionnez une version de test qui comporte deux scènes alors
                    que le jeu au final en comprendra près de 300 ? ...
                </p>

                <p>
                    Certaines fonctions du docgame (jeux, topos historiques, volet contributif et autres si possible à
                    énumérer) ne sont pas encore actives et le seront bien entendu dans la version
                    définitive.
                </p>

                <p>
                    Des surprises en perspective dans ce jeu documentaire inédit pour lequel nous espérons votre engagement à l’automne !
                </p>

                <p>
                </p>

                <p>
                    <strong>Bonne découverte.</strong>
                </p>
            </div>

            <!--<div class="welcome__user">-->
                <!--<p>Renseignez votre e-mail pour sauvegarder votre progression</p>-->
                <!--<form class="form-horizontal welcome__user__form" role="signin" ng-submit="submit()" name="form">-->
                    <!--<input class="form-control" placeholder="email@exemple.org" ng-model="email" required type="email" class="form-control" />-->
                    <!--<button type="submit" class="welcome__user__form__submit btn btn-default" ng-disabled="form.$invalid">OK</button>-->
                <!--</form>-->
            <!--</div>-->

            <div class="welcome__start">
                <button class="welcome__start__btn btn btn-default btn-lg" ng-click="startGame();">Entrer</button>
            </div>
        </div>

        <div class="welcome__start" ng-hide="isNewUser()">
            <div class="welcome__intro">
                <p>
                    Bienvenue sur la version de démonstration de Classe 1914, un webdocumentaire
                    ludique pour découvrir la Première Guerre mondiale en Ille-et-Vilaine.
                </p>
                <p>
                </p>
                <p>
                    Une histoire est déjà en cours avec ce compte.<br />
                    Votre héros vous attends.
                </p>

                <p>
                    Si vous souhaitez le retrouver et poursuivre l'histoire,<br />
                    cliquez sur "Reprendre la partie".
                </p>

                <p>
                </p>

                <p>
                    Sinon choisissez "Recommencer au début".
                </p>
            </div>

            <button class="welcome__start__btn btn btn-default btn-lg" ng-click="newGame()">Recommencer au début</button>
            <button class="welcome__start__btn btn btn-default btn-lg" ng-click="startGame(false)">Reprendre la partie</button>
        </div>

    </div>
</div>
