@ipad-landscape: ~"only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)";

.case {
    z-index: @case-zindex;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:fade(black, 55);
    overflow: auto;

    &__TEST {
        color: red;
    }

    .fade > .show(@chapter-starting-duration-2);

    &__container {
        // For bootstrap grid
        .container;

        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        overflow-y: auto;
        background-color: @brand-primary;
        width: 84%!important;
        margin: 6% 8% 10% 8%!important;

        @media (max-width: @screen-lg-min) and (min-width: @screen-md-min) {
            width: 92%!important;
            margin: 3% 4% 5% 4%!important;
        }

        @media (max-width: @screen-md-min), @ipad-landscape {
            width: 98%!important;
            margin: 1%!important;
        }

        // The main content
        &__content {
            // For bootstrap grid
            .row;

            &__my-case  {

            }
        }

        // The tabs menu
        &__tabs  {

        }

        // The button to close the case
        &__my-case  {
            // For bootstrap grid
            //.col-lg-14;


            display: block;
            cursor: pointer;
            height: 20px;
            background-color: green;


        }

    }

}
