@ipad-landscape: ~"only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)";

.case {
    z-index: @case-zindex;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;


    .fade > .show(@chapter-starting-duration-2);

    &__bg   {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        display: block;
        background:fade(black, 55);
        cursor: pointer;
    }

    &__container {
        // For bootstrap grid
        .container;

        overflow-x: hidden;
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width: 84%!important;
        margin: 6% 8% 10% 8%!important;

        @media (max-width: @screen-lg-min) and (min-width: @screen-md-min) {
            width: 92%!important;
            margin: 3% 4% 5% 4%!important;
        }

        @media (max-width: @screen-md-min), @ipad-landscape {
            width: 98%!important;
            margin: 1%!important;
        }

        // The main content
        &__content {
            // For bootstrap grid
            .row;

            &__box {
                position: relative;
                text-align: left;
                padding:2px;
                overflow: hidden;



                &:before {
                    content: "";
                    display: block;
                    padding-top: 100%; 	/* initial ratio of 1:1*/
                    background-color: @brand-primary;

                }



                &__archive{
                    cursor: pointer;
                    position:  absolute;
                    background-size: cover;
                    background-position: center;
                    margin: 2px;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    color: @black;

                    &.locked {
                        cursor: auto!important;
                    }

                    &.unlocked {
                        //color:  green!important;
                    }

                    &.starred {
                        //color: red!important;
                        .grayscale();
                    }

                    &.unviewed {
                        //.grayscale(50%);
                    }

                    &__block {
                        background:fade(@brand-primary, 65);
                        margin: 22% 0;
                        height: 56%;
                        overflow: hidden;
                        text-indent: 35px;

                        &__title {
                            padding: 15px 1px 0px 1px;
                            font-size: @font-size-base + 2px;
                            font-weight: bold;

                            &:after {
                                content:"";
                                height:15px;
                                width:12px;
                                background: url("/img/ui/c14_case_box_unlocked.svg") no-repeat 0 0;
                                position: absolute;
                                left:15px;
                                top:30%;
                            }

                        }

                        &__cote {
                            background:fade(@black, 90);
                            padding: 1px;
                            color: #fff;
                            font-size: @font-size-base - 2px;
                            text-transform: uppercase;
                        }

                        &__url {
                            background:fade(@brand-primary, 90);
                            padding: 1px;
                            color: @black;
                            font-size: @font-size-base - 2;
                        }

                        &__excerpt {
                            text-indent: 0px;
                            text-align: left;
                            font-size: @font-size-base - 2px;
                            font-style: italic;
                            line-height: @font-size-base - 2px;
                            padding: 7px 15px 10px 15px;

                        }

                        &:after {
                            content: "";
                            height: 15px;
                            width: 12px;
                            background: url("/img/ui/c14_case_starred-off.svg") no-repeat 0 0;
                            position: absolute;
                            left: 50%;
                            .translate(-50%,0);
                            bottom: 5%;
                        }


                    }
                }
            }



            &__unlocked,
            &__all,
            &__starred {

            }
        }

        // The tabs menu
        &__menu  {
            // For bootstrap tabs
            //.nav;
            //.nav-tabs;
            // For bootstrap grid
            .row;

            cursor: pointer;

            li {

                display: inline-block;
            }


        }

        // The button to close the case
        &__my-case  {
            // For bootstrap grid
            //.col-lg-14
            // For bootstrap grid
            .row;


            display: block;
            cursor: pointer;
            height: 20px;
            background-color: green;
        }

    }

}
